@import "breakpoint.scss";

.h3
{
  $root: '.h3';
  
  line-height: 1.6;
  font-size: 24px;
  font-family: minecraft_pe;
  color: white;
  font-weight: 900 !important;
  margin-top: 8px;

  ////////////////////////////////////////////////////
  //
  //                  Child
  //
  ////////////////////////////////////////////////////


  ////////////////////////////////////////////////////
  //
  //                  States
  //
  ////////////////////////////////////////////////////

  &:hover
  {

  }

  &:active
  {

  }

  &:focus
  {

  }


  ////////////////////////////////////////////////////
  //
  //                  Variation
  //
  ////////////////////////////////////////////////////

  &.-black{
    color: black;
  }

  /*
  R   E   S   P   O   N   S   I   V   E
                                        */
  @include respond-below(sm) {
    
  }
}
