.select
{
  $root: '.select';

  border: 1px solid white;
  border-radius: 2px;

  outline : none;

  ////////////////////////////////////////////////////
  //
  //                  States
  //
  ////////////////////////////////////////////////////

  &::placeholder
  {

  }

  &:active,
  &:hover,
  &:focus
  {

  }

  &.-error
  {

  }

  &:invalid
  {

  }

  ////////////////////////////////////////////////////
  //
  //                  Variation
  //
  ////////////////////////////////////////////////////

}